<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MySqlTables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.89.80:3306/apps"
                        userId="me2me"
                        password="Sp@Metro#79">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.me2me.activity.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.me2me.activity.mapper"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="topic" domainObjectName="Topic"/> -->
        <!--<table tableName="topic_fragment" domainObjectName="TopicFragment"/>-->
        <!--<table tableName="live_favorite" domainObjectName="LiveFavorite"/>-->
        <!--<table tableName="activity" domainObjectName="Activity"/>-->
        <!--<table tableName="user_activity" domainObjectName="UserActivity"/>-->
        <!--<table tableName="activity_review" domainObjectName="ActivityReview"/>-->
        <!--<table tableName="activity_tags_details" domainObjectName="ActivityTagsDetails"/>-->
        <!--<table tableName="activity_likes_details" domainObjectName="ActivityLikesDetails"/>-->
        <!--<table tableName="luck_act" domainObjectName="LuckAct"/>-->
        <!--<table tableName="luck_prize" domainObjectName="LuckPrize"/>-->
        <!--<table tableName="luck_count" domainObjectName="LuckCount"/>-->
        <!--<table tableName="luck_status" domainObjectName="LuckStatus"/>-->
        <!--<table tableName="luck_winners" domainObjectName="LuckWinners"/>-->
        <!--<table tableName="a_activity" domainObjectName="Aactivity"/>-->
        <!--<table tableName="a_activity_stage" domainObjectName="AactivityStage"/>-->
        <!--<table tableName="a_user" domainObjectName="Auser"/>-->
        <!--<table tableName="a_user_to_sysuser" domainObjectName="AuserToSysUser"/>-->
        <!--<table tableName="t_channel" domainObjectName="Tchannel"/>-->
        <!--<table tableName="a_topic" domainObjectName="Atopic"/>-->
        <!--<table tableName="a_double_topic_apply" domainObjectName="AdoubleTopicApply"/>-->
        <!--<table tableName="a_mili_data" domainObjectName="AmiliData"/>-->
        <!--<table tableName="a_recommend_user" domainObjectName="ArecommendUser"/>-->
        <!--<table tableName="a_recommend_user_desc" domainObjectName="ArecommendUserDesc"/>-->
        <!--<table tableName="a_task" domainObjectName="Atask"/>-->
        <!--<table tableName="a_forced_pairing" domainObjectName="AforcedPairing"/>-->
        <!--<table tableName="a_task_user" domainObjectName="AtaskUser"/>-->
        <!--<table tableName="a_kingdom" domainObjectName="AkingDom"/>-->
        <!--<table tableName="a_kingdom_list" domainObjectName="AkingDomList"/>-->
        <!--<table tableName="app_lightbox_source" domainObjectName="AppLightboxSource"/>-->
        <!--<table tableName="app_ui_control" domainObjectName="AppUiControl"/>-->
        <!-- <table tableName="a_common_list" domainObjectName="AcommonList"/> -->
		<!-- <table tableName="a_common_hot_detail" domainObjectName="AcommonHotDetail"/> -->
		<!-- <table tableName="a_common_chat" domainObjectName="AcommonChat"/> -->
		<!-- <table tableName="game_user_info" domainObjectName="GameUserInfo"/> -->
		<!-- <table tableName="game_user_receive_his" domainObjectName="GameUserReceiveHis"/> -->
		<!-- <table tableName="game_user_record" domainObjectName="GameUserRecord"/> -->
		<!-- <table tableName="game_user_record_his" domainObjectName="GameUserRecordHis"/>	 -->
		<!-- <table tableName="game_look_his" domainObjectName="GameLookHis"/>	 -->
    </context>
</generatorConfiguration>