<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MySqlTables" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                    connectionURL="jdbc:mysql://192.168.89.80:3306/apps"
                    userId="me2me"
                    password="Sp@Metro#79">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.me2me.user.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.me2me.user.mapper"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


        <!--<table tableName="user" domainObjectName="User"/>-->
        <!--<table tableName="system_config" domainObjectName="SystemConfig"/>-->
        <!-- <table tableName="user_profile" domainObjectName="UserProfile"/> -->
        <!--<table tableName="user_gag" domainObjectName="UserGag"/>-->
        <!--<table tableName="dictionary" domainObjectName="Dictionary"/>-->
        <!--<table tableName="dictionary_type" domainObjectName="DictionaryType"/>-->
        <!--<table tableName="address" domainObjectName="Address"/>-->
        <!--<table tableName="user_hobby" domainObjectName="UserHobby"/>-->
        <!--<table tableName="user_token" domainObjectName="UserTsoken"/>-->
        <!--<table tableName="user_device" domainObjectName="UserDevice"/>-->
        <!--<table tableName="user_channel" domainObjectName="UserChannel"/>-->
        <!--<table tableName="user_tags" domainObjectName="UserTags"/>-->
        <!--<table tableName="user_content_tags" domainObjectName="UserContentTags"/>-->
        <!--<table tableName="user_tags_details" domainObjectName="UserTagsDetails" />-->
        <!--<table tableName="user_tags_record" domainObjectName="UserTagsRecord" />-->
        <!--<table tableName="user_notice" domainObjectName="UserNotice" />-->
        <!--<table tableName="user_tips" domainObjectName="UserTips" />-->
        <!--<table tableName="user_report" domainObjectName="UserReport" />-->
        <!--<table tableName="user_tags_record" domainObjectName="UserTagsRecord" />-->
        <!--<table tableName="application_security" domainObjectName="ApplicationSecurity" />-->
        <!--<table tableName="user_no" domainObjectName="UserNo" />-->
        <!--<table tableName="user_device" domainObjectName="UserDevice" />-->
        <!--<table tableName="xinge_push_log" domainObjectName="XingePushLog" />-->
        <!--<table tableName="jpush_token" domainObjectName="JpushToken"/>-->
        <!--<table tableName="third_part_user" domainObjectName="ThirdPartUser"/>-->
        <!--<table tableName="open_device_count" domainObjectName="OpenDeviceCount"/>-->
        <!--<table tableName="entry_page_config" domainObjectName="EntryPageConfig"/>-->
        <!--<table tableName="user_famous" domainObjectName="UserFamous"/>-->
        <!--<table tableName="ios_wapx" domainObjectName="IosWapx"/>-->
        <!--<table tableName="version_channel_download" domainObjectName="VersionChannelDownload"/>-->
        <!--<table tableName="im_config" domainObjectName="ImConfig"/>-->
        <!-- <table tableName="user_seek_follow" domainObjectName="UserSeekFollow"/> -->
        <!-- <table tableName="user_notice_unread" domainObjectName="UserNoticeUnread"/> -->
        <!-- <table tableName="user_mobile_list" domainObjectName="UserMobileList"/> -->
		<!-- <table tableName="mbti_mapping" domainObjectName="MbtiMapping"/> -->
		<!-- <table tableName="app_config" domainObjectName="AppConfig"/> -->
		<!-- <table tableName="user_rec_init" domainObjectName="UserRecInit"/> -->
		<!-- <table tableName="user_black_list" domainObjectName="UserBlackList"/> -->
		<!-- <table tableName="user_first_log" domainObjectName="UserFirstLog"/> -->
		<!-- <table tableName="user_avatar_frame" domainObjectName="UserAvatarFrame"/> -->
		<!-- <table tableName="user_device_info" domainObjectName="UserDeviceInfo"/> -->
		<!-- <table tableName="user_invitation_his" domainObjectName="UserInvitationHis"/> -->
		<!-- <table tableName="user_tag" domainObjectName="UserTag"/> -->
		<!-- <table tableName="user_last_channel" domainObjectName="UserLastChannel"/> -->
		<!-- <table tableName="app_http_access" domainObjectName="AppHttpAccess"/> -->
		<!-- <table tableName="user_friend" domainObjectName="UserFriend"/> --> 
		<!-- <table tableName="user_industry" domainObjectName="UserIndustry"/>  -->
    </context>
</generatorConfiguration>