<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MySqlTables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.89.80:3306/apps"
                        userId="me2me"
                        password="Sp@Metro#79">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.me2me.live.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.me2me.live.mapper"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--  <table tableName="topic" domainObjectName="Topic"/> -->
        <!-- <table tableName="topic_fragment" domainObjectName="TopicFragment"/> -->
        <!--<table tableName="live_favorite" domainObjectName="LiveFavorite"/>-->
        <!--<table tableName="live_read_history" domainObjectName="LiveReadHistory"/>-->
        <!--<table tableName="topic_barrage" domainObjectName="TopicBarrage"/>-->
        <!--<table tableName="live_favorite_delete" domainObjectName="LiveFavoriteDelete"/>-->
        <!--<table tableName="live_display_barrage" domainObjectName="LiveDisplayBarrage"/>-->
        <!--<table tableName="live_display_fragment" domainObjectName="LiveDisplayFragment"/>-->
        <!--<table tableName="live_display_review" domainObjectName="LiveDisplayReview"/>-->
        <!--<table tableName="delete_log" domainObjectName="DeleteLog"/>-->
        <!--<table tableName="live_display_protocol" domainObjectName="LiveDisplayProtocolDto"/>-->
        <!--<table tableName="topic_user_config" domainObjectName="TopicUserConfig"/>-->
        <!--<table tableName="topic_aggregation" domainObjectName="TopicAggregation"/>-->
        <!--<table tableName="topic_aggregation_apply" domainObjectName="TopicAggregationApply"/>-->
        <!--<table tableName="topic_droparound" domainObjectName="TopicDroparound"/>-->
        <!--<table tableName="topic_droparound_trail" domainObjectName="TopicDroparoundTrail"/>-->
        <!--<table tableName="topic_fragment_template" domainObjectName="TopicFragmentTemplate"/>-->
        <!--<table tableName="topic_tag_detail" domainObjectName="TopicTag"/> -->
        <!--<table tableName="topic_tag_detail" domainObjectName="TopicTagDetail"/> -->
        <!--<table tableName="topic_news" domainObjectName="TopicNews"/> -->
        <!--<table tableName="topic_transfer_record" domainObjectName="TopicTransferRecord"/> -->
        <!--<table tableName="topic_read_his" domainObjectName="TopicReadHis"/> -->
        <!--<table tableName="user_steal_log" domainObjectName="UserStealLog" />  -->
        <!--<table tableName="topic_data" domainObjectName="TopicData" /> -->
        <!--<table tableName="topic_price_his" domainObjectName="TopicPriceHis" /> -->
        <!--<table tableName="topic_price_subsidy_config" domainObjectName="TopicPriceSubsidyConfig" /> -->
        <!--<table tableName="topic_given" domainObjectName="TopicGiven" /> -->
        <!--<table tableName="sign_record" domainObjectName="SignRecord" />  -->
        <!--<table tableName="robot_quotation_record" domainObjectName="RobotQuotationRecord" />  -->
        <!--<table tableName="robot_info" domainObjectName="RobotInfo" />  -->
        <!--<table tableName="quotation_info" domainObjectName="QuotationInfo" />  -->
        <!--<table tableName="sign_save_record" domainObjectName="SignSaveRecord" /> -->
        <!--<table tableName="lottery_info" domainObjectName="LotteryInfo" />-->
        <!--<table tableName="lottery_content" domainObjectName="LotteryContent" />-->
        <!--<table tableName="lottery_win" domainObjectName="LotteryWin" />-->
        <!--<table tableName="lottery_prohibit" domainObjectName="LotteryProhibit" />-->
        <!-- <table tableName="topic_read_his" domainObjectName="TopicReadHis" /> -->
        <!-- <table tableName="topic_price_change_log" domainObjectName="TopicPriceChangeLog" /> -->
        <!-- <table tableName="user_dislike" domainObjectName="UserDislike" /> -->
        <!-- <table tableName="gift_info" domainObjectName="GiftInfo" /> -->
        <!-- <table tableName="gift_history" domainObjectName="GiftHistory" /> -->
        <!-- <table tableName="topic_category" domainObjectName="TopicCategory" /> -->
        <!-- <table tableName="lottery_appoint" domainObjectName="LotteryAppoint" /> -->
        <!-- <table tableName="topic_user_forbid" domainObjectName="TopicUserForbid" /> -->
        <!-- <table tableName="topic_image" domainObjectName="TopicImage" /> -->
        <!-- <table tableName="topic_fragment_like_his" domainObjectName="TopicFragmentLikeHis" /> -->
    </context>
</generatorConfiguration>
