<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MySqlTables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.89.80:3306/apps"
                        userId="me2me"
                        password="Sp@Metro#79">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.me2me.search.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.me2me.search.mapper"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="topic" domainObjectName="Topic"/> -->
        <!--<table tableName="topic_fragment" domainObjectName="TopicFragment"/>-->
        <!--<table tableName="live_favorite" domainObjectName="LiveFavorite"/>-->
        <!--<table tableName="activity" domainObjectName="Activity"/>-->
        <!--<table tableName="user_activity" domainObjectName="UserActivity"/>-->
        <!-- <table tableName="search_history_count" domainObjectName="SearchHistoryCount"/> -->
        <!-- <table tableName="hot_keyword" domainObjectName="HotKeyword"/> -->
        <!-- <table tableName="search_user_dislike" domainObjectName="SearchUserDislike"/> -->

    </context>
</generatorConfiguration>